<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
    <title>Document</title>
    
</head>
<body>
   

    <div class="message_container">
        
        <div class="input_section">
            <form action="/home/add_user_files" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="doc_section">
                   Upload docs : <br>
                    <input type="file" name="doc" id="" required>
             
                    <input type="submit" value="Upload">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                </form>

                

                     </div><hr><br>
                
                <!-- <div class="view_doc_section">
  
                </div><br> -->

                <a  href="/home/delete_images"> <input type="submit" value="Delete all">  </a>
               
                <hr> <br>
                
           
            <form action="/home/whatsapp_automation" method="post">
                {% csrf_token %}
                <div class="message_section">
                    <div class="message_left">
                        <label for="message">Message: </label>
                        <textarea name="message" id="" cols="30" rows="15" placeholder="Greetings from SBIT."></textarea>
                    <hr><br>
                
                    <div class="catagory_section">
                        <label for="message">Select customer catagory: </label> <br>
                        
                        <select name="catagory" id="">
                            <option value="">-----Select customer catagory----</option>
                            <option value="">Catagory-01</option>
                            <option value="">Catagory-02</option>
                            <option value="">Catagory-03</option>
                        </select>
                        
                    </div><br>
                
                <br>
                </div>
                <div class="message_right">
                    <label for="text_area_contacts">Add Contacts: </label>
                    <textarea name="text_area_contacts" id="text_area_contacts" cols="30" rows="10"></textarea>
                </div>
            </div>
            <hr>
            <div class="send_section">
                <input type="submit" value="Send"> 
            </div><br>
                    
               
            </form>

        </div>
        <div class="output_section">
            <form action="/home/add_contact" method="post">
                {% csrf_token %}
                <div class="doc_section">
                    <label><u>Add contact:</u> </label> <br><br>
                    <table id="contact_table">
                        <tr>
                            <td>Cobatct:</td>
                            <td><input type="text" name="contact"></td>
                        </tr>
                        <tr>
                            <td> Catagory:</td>
                            <td><select name="category" id="">
                                <option value="">-----Select customer catagory----</option>
                                <option value="Catagory-01">Catagory-01</option>
                                <option value="Catagory-02">Catagory-02</option>
                                <option value="Catagory-03">Catagory-03</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Add contact"></td>
                            <!-- <td><a href="/home/view_contacts" id="view_contacts">View Contacts</a></td> -->
                        </tr>
                    </table>
                    
                </div><br><hr><br>
            </form>
            <form action="" method="post">
                <div class="status_section">
                    <label for=""><u>Status:</u></label>
                    <div class="status_section-1" >
                        <table id="status_table">
                            <thead>
                                <td>Si. No.</td>
                                <td>Conatact Name</td>
                                <td>Category</td>
                                <td>Status</td>
                                <td>Action</td>
                            </thead>
                            <tbody>
                                {% for contact in contacts %}
                                <tr>
                                    <td>{{contact.id}}</td>
                                    <td>{{contact.contact_name}}</td>
                                    <td>{{contact.category}}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    
                </div><br>
                
                <hr> <br>
                
            </form>
            
            </form>

        </div>

    </div>
   

</body>
</html>